@use "../../tools/variables" as *;

footer {
    position: relative;
    #footer-hidden {
        display: none;
        z-index: 5;
        transform: translateY(150px);
        height: auto;
        width: 100vw;
        position: absolute;
        bottom: 0;
        left: 0;
        img {
            width: 60px;
            height: auto;
            display: none;
        }
        ul {
            background-color: transparent;
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            li {
                position: relative;
                margin: auto 15px;
                a {
                    color: $black;
                    font-size: 18px;
                    text-decoration: none;
                    &:hover {
                        color: $darkblue;
                    }
                }
            }
        }
    }

    #logo-animation {
        z-index: 10;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(50%);
        background-color: $white;
        border-radius: 50%;
        display: inline-block;
        padding: 25px;
        overflow: hidden;
        margin: auto;
        cursor: pointer;

        &:hover {
            transform: translateX(-50%) translateY(0);
            transition: transform 0.7s, box-shadow 0.7s;
            box-shadow: 0 0 20px 1px white;
        }
        img {
            width: 150px;
            height: auto;
            margin: auto;
        }
    }
}

/* ----- MEDIA QUERY ----- */
@include sm {
    footer {
        #footer-hidden {
            img {
                display: block;
            }
            ul {
                li {
                    a {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}
@include md {
    footer {
        #footer-hidden {
            img {
                display: block;
            }
            ul {
                li {
                    margin: auto 25px;
                    a {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
