@use "../../tools/variables" as *;

footer {
  position: relative;

  #footer-hidden {
    display: none;
    z-index: 5;
    transform: translateY(150px);
    height: auto;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;

    img {
      width: 60px;
      height: auto;
      display: none;
      @include sm {
        display: block;
      }

    }

    ul {
      background-color: transparent;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;

      li {
        position: relative;
        margin: auto 15px;
        @include md {
          margin: auto 25px;
        }

        a {
          color: $black;
          font-size: 16px;
          text-decoration: none;
          @include sm {
            font-size: 24px;
          }
          @include md {
            font-size: 32px;
          }

          &:hover {
            color: $cardblue;
          }
        }
      }
    }
  }

  #logo-animation {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    background-color: $white;
    border-radius: 50%;
    display: inline-block;
    padding: 25px;
    overflow: hidden;
    margin: auto;
    cursor: pointer;

    &:hover {
      transform: translateX(-50%) translateY(0);
      transition: transform 0.7s, box-shadow 0.7s;
      box-shadow: 0 0 20px 1px white;
    }

    img {
      width: 150px;
      height: auto;
      margin: auto;
    }
  }
}

