@use "../../tools/variables" as *;

#headerDesktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 5;
  /* ----- Define a height for NavBar -----*/
  height: 100px;
  /* -----and a transition time for a smooth appearence*/

  * {
    text-decoration: none;
    color: white;
    font-family: $font-family-bebas-neue;
    font-weight: 700;
  }

  nav {
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    // ----- Logo -----
    .navbar-brand {
      img {
        width: 90px;
        height: auto;
      }
    }

    .navbar-nav {
      margin-left: auto !important;
      display: flex;

      // li
      .nav-item {
        font-size: 16px;
        margin-left: 3vw;
        font-size: 26px;
        cursor: pointer;

        a {
          &:hover {
            color: $darkblue;
          }
        }
      }
    }
  }
}
