@use "../../tools/variables" as *;

#headerDesktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 5;
  /* ----- Define a height for NavBar -----*/
  height: 100px;
  /* -----and a transition time for a smooth appearence*/
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* hauteur de la zone d’ombre */
    pointer-events: none;

    /* Ombre bleue vers le bas */
    box-shadow: 0 0 200px 0 rgba(0, 122, 255, 0.5);

    /* On inverse l'ombre grâce au transform */
    transform: translateY(-100%);
  }

  * {
    text-decoration: none;
    color: white;
    font-family: $font-family-bebas-neue;
    font-weight: 700;
  }

  nav {
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    // ----- Logo -----
    .navbar-brand {
      img {
        margin-top: 4px;
        width: 80px;
        height: auto;
      }
    }

    .navbar-nav {
      margin-left: auto !important;
      display: flex;

      // li
      .nav-item {
        margin-left: 3vw;
        font-size: 24px;
        cursor: pointer;

        a {
          &:hover {
            color: $darkblue;
          }
        }
      }
    }
  }
}
