/* ----- BLOB ANIMATION ----- */

@keyframes morph-hover {
    0% {
        background: rgba(29, 236, 255, 1);
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
        transform: translate(0, 0);
    }
    16.6% {
        transform: translate(0, 5px);
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
        background: rgb(29, 157, 255);
    }
    33.6% {
        transform: translate(0, 0);
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
    50.2% {
        transform: translate(0, 5px);
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
        background: rgb(112, 29, 255);
    }
    66.8% {
        transform: translate(0, 0);
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    83.4% {
        transform: translate(0, 5px);
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
    100% {
        transform: translate(0, 0);
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
        background: rgba(29, 236, 255, 1);
    }
}
@keyframes morph {
    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}

@keyframes blob-appear {
    0% {
        scale: 0;
        transform: translate(50vw, -50vh);
    }
    70% {
        scale: 0.5;
    }
    100% {
        scale: 1;
        transform: translate(0, 0);
    }
}


/* ----- TEXT REVEAL ANIMATION ----- */
@keyframes clip-text {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes text-revealer {
    0%,
    50% {
        transform-origin: 0 50%;
    }

    60%,
    100% {
        transform-origin: 100% 50%;
    }

    60% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}
/* ----- END TEXT REVEAL ANIMATION ----- */

/* ----- CONTACT BLOCK - PHONE ANIMATION ----- */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
    }
    80% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}
@keyframes trin {
    from {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    20%,
    32%,
    44%,
    56%,
    68% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    23%,
    35%,
    47%,
    59%,
    71% {
        transform: rotate3d(0, 0, 1, 15deg);
    }
    26%,
    38%,
    50%,
    62%,
    74% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    29%,
    41%,
    53%,
    65%,
    77% {
        transform: rotate3d(0, 0, 1, -15deg);
    }
    80% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}