@use "variables" as *;

$particles: 6; // has to match nodes in dom
$particleSize: 250px;
$lapDuration: 5s;
$shadowColor: rgb(255, 255, 255);

/*----- double color in circle box shadow ----- */
$shadowOne: #ffffff36;
$shadowTwo: #ffffff36;

/* ----- Circles scale and shadow  ----- */
@keyframes scale {
  0% {
    transform: scale(2);
    opacity: 0;
    box-shadow: inset 0px -5px 10px 5px $shadowOne, inset 0px 5px 10px 5px $shadowTwo;
  }
  50% {
    transform: scale(1) translate(0px, -5px);
    opacity: 1;
    box-shadow: inset 0px -5px 10px 5px $shadowOne, inset 0px 5px 10px 5px $shadowTwo;
  }
  100% {
    transform: scale(0.1) translate(0px, 5px);
    opacity: 0;
    box-shadow: inset 0 0 0 $shadowOne, inset 0 0 0 $shadowTwo;
  }
}

/* ----- Change logo scale  ----- */
@keyframes heartbeat {
  0% {
    transform: translate(-50%, -50%) scale(0.92);
  }
  40% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  55% {
    transform: translate(-50%, -50%) scale(0.94);
  }
  60% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.92);
  }
}

/* ----- Added flashes on the logo  ----- */
@keyframes flash {
  0% {
    transform: translate(-50%, -50%) scale(0.92);
    box-shadow: 0 0 0 rgba($shadowColor, 0.7);
  }
  40% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 0 rgba($shadowColor, 0.7);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.9);
    box-shadow: 0 0 200px 10px rgba($shadowColor, 0.7);
  }
  55% {
    transform: translate(-50%, -50%) scale(0.94);
    box-shadow: 0 0 0 rgba($shadowColor, 0.7);
  }
  60% {
    transform: translate(-50%, -50%) scale(0.9);
    box-shadow: 0 0 200px 10px rgba($shadowColor, 0.7);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.92);
    box-shadow: 0 0 0 rgba($shadowColor, 0.7);
  }
}

/* ----- Last flash covering the screen  ----- */
@keyframes lastflash {
  0% {
    box-shadow: 0 0 0 rgba($shadowColor, 0.7);
  }

  100% {
    box-shadow: 0 0 100vw 70vw rgba($shadowColor, 1);
    z-index: 10;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loader {
  /* Blob on center */
  #blob-white-animated {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: -6px;
    margin-left: -5px;
    filter: blur(15px);

    &:after {
      position: absolute;
      display: block;
      content: "";
      width: 30px;
      height: 30px;
      background: #fff;
      border-radius: 50%;
      transform-origin: 50px 50px;
      transform: rotate(50deg);
      animation: rotate 3.5s ease-in-out infinite;
      filter: blur(3px);
    }

    &:before {
      position: absolute;
      display: block;
      content: "";
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 50%;
      transform-origin: 30px 30px;
      transform: rotate(300deg);
      animation: rotate 3.5s ease-in-out 2s infinite;
      filter: blur(3px);
    }
  }

  #hole {
    position: absolute;
    max-height: 100vh;
    max-width: 100vw;
    top: 50%;
    left: 50%;
    z-index: 1;
  }

  i {
    display: block;
    position: absolute;
    width: $particleSize;
    height: $particleSize;
    left: - calc($particleSize / 2);
    top: - calc($particleSize / 2);
    border-radius: $particleSize;
    opacity: 0;

    animation-name: scale;
    animation-duration: $lapDuration;
    animation-iteration-count: 5;
    animation-timing-function: linear;
    animation-direction: alternate;
  }

  #loader-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: auto;
    z-index: 2;
    animation: heartbeat 1.2s ease-out infinite;
  }

  #flash {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgba($shadowColor, 0);
    animation: flash 1.2s infinite, lastflash 0.3s 4.9s cubic-bezier(1, 0.08, 0.31, 1.15);
  }

  .title-loader {
    font-family: $font-family-bebas-neue;
    font-size: 3.5rem;
    position: absolute;
    opacity: 0;
    @include sm {
      font-size: 5rem;
    }
    @include sm-landscape {
      font-size: 4rem;
    }
    @include lg {
      font-size: 7.5rem;
    }

    @include xl {
      font-size: 10rem;
    }
  }

  #dev {
    left: 5%;
    top: 5vh;
  }

  #fullstack {
    right: 5%;
    bottom: 5vh;
  }

  @for $i from 1 through $particles {
    i:nth-child(#{$i}) {
      animation-delay: calc($i * ($lapDuration / $particles));
    }
  }
}



