@use "../tools/variables" as *;

.modal {
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 85vw;
    display: block;
    overflow: visible;
    z-index: 25;

    .content {
        position: relative;
        z-index: 25;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 12px;
        padding: 25px 15px;
        color: black;
        height: 100%;
        margin: auto;
        .header {
            width: 100%;
            height: auto;

            border-bottom: 1px solid gray;

            font-size: 22px;
            text-align: center;
            padding: 5px;
        }
        .description {
            width: 100%;
            margin-top: 20px;
            height: auto;
            font-size: 16px;
        }
    }
   
}
.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -20px;
    top: -20px;
    font-size: 32px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #cfcece;
    width: 40px;
    height: 40px;
    &:hover {
        background-color: #e9e9e9;
    }
}
.modal-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: block;
    z-index: 25;
    background-color: rgba(255, 255, 255, 0.8);
    img{
        margin-left: 25vw;
        width: 50vw;
        height: auto;
    }
}

/* ----- MEDIA QUERY ----- */
@include sm {
    .modal {
        width: 400px;

        .content {
            padding: 35px 25px;
        }
    }
}

