@use "../tools/variables" as *;

/* ----- WAVES BACKGROUND ----- */
.waves {
  position: fixed;
  z-index: 4;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  height: 100px;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 190px;
  @include sm {
    height: 140px;
    min-height: 140px;
  }

  .parallax {
    use {
      animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;

      &:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
      }

      &:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
      }

      &:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
      }

      &:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
      }
    }
  }
}

/* ----- WAVES ANIMATION ----- */
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* ----- END WAVES ANIMATION ----- */