@use "../../tools/variables" as *;

#about {
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
    padding-top: 100px;
    overflow-x: hidden;
    font-weight: bold;

    h2 {
        text-align: left;
    }

    .container-about {
        font-family: $font-family-montserrat;
        z-index: 3;
        position: relative;
        width: 80vw;
        margin: 100px auto;

        #about-presentation {
            font-size: 16px;

            b {
                color: $darkblue;
            }
        }

        #about-description {
            display: flex;
            flex-direction: column;
            font-size: 16px;

            .description-choice {
                h3 {
                    padding: 15px;
                    border: 1px solid rgba(68, 121, 255, 0.3);
                    cursor: pointer;
                    font-family: $font-family-bebas-neue;
                    margin: 0;

                    &:nth-child(1) {
                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;
                    }
                    &:nth-child(2) {
                        border-bottom-left-radius: 6px;
                        border-bottom-right-radius: 6px;
                    }
                }
                .choice-active {
                    background-color: $darkblue;
                    box-shadow: 0 0 10px 1px rgba(30, 94, 255, 0.5);
                    color: white;
                    &:hover {
                        background-color: rgb(49, 98, 221);
                    }
                }
                .choice-inactive {
                    color: rgb(219, 219, 219);
                    &:hover {
                        background-color: rgba(68, 121, 255, 0.2);
                    }
                }
            }

            #skills,
            #langage {
                margin-top: 50px;
               
            }
        }
        p {
            text-align: left;
        }
        .hr-dotted {
            width: 100%;
            height: 2px;
            background-color: $darkblue;
          //  background: linear-gradient(to right, $darkblue 33%, rgb(0, 0, 0) 0%) top/10px 1px repeat-x; /* top */
            margin: 50px auto;
        }
    }
}

/* ----- MEDIA QUERY ----- */

@include md {
    #about {
        .container-about {
            #about-description {
                .description-choice {
                    display: flex;
                    h3 {
                        padding: 15px 0;
                        width: 50%;
                        font-size: 22px;
                        &:nth-child(1) {
                            border-radius: 6px 0 0 6px;
                        }
                        &:nth-child(2) {
                            border-radius: 0 6px 6px 0;
                        }
                    }
                }
                #skills,
                #langage {
                    display: grid;
                    grid-template-columns: repeat(2, 40vw);
                }
            }
        }
    }
}

@include lg {
    #about {
        .container-about {
            width: 70vw;
        }
    }
}
