@use "../../tools/variables" as *;

#about {
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
  padding-top: 100px;
  overflow-x: hidden;
  font-weight: bold;

  h2 {
    text-align: left;
  }

  .container-about {
    font-family: $font-family-montserrat;
    z-index: 3;
    position: relative;
    width: 100%;
    margin: 100px auto;


    #about-presentation {
      font-size: 24px;
      margin-bottom: 80px;
      font-family: $font-family-bebas-neue;
      letter-spacing: 1.4px;
      padding: 0 10%;

      b {
        color: $darkblue;
      }
    }

    #about-cards {
      display: flex;
      max-width: 90%;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 16px;
      margin: 0 auto 80px auto;
      gap: 32px;
      @include md {
        max-width: 100%;
      }


      .card {
        display: flex;
        flex-direction: column;
        justify-content: start;
        max-width: 80%;
        border: 1px solid $cardblue;
        border-radius: 16px;
        padding: 8px 16px 16px 16px;
        text-align: center;
        background-color: #101010;
        @include md {
          width: 300px;
        }
        @include lg {
          width: 350px;
          padding: 16px 32px 32px 32px;
        }

        h3 {
          font-size: 16px;
        }

        p {
          text-align: center;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    p {
      text-align: left;
    }

    .infinite-container {
      display: flex;
      flex-direction: column;
      gap: 48px;

      .infinite-title {
        text-align: left;
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 40px;
        margin-left: 24px;
        @include lg {

        }
      }

      .infinite-text {
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        padding: 48px 0;
        box-shadow: 0 0 8px 1px rgba(72, 65, 255, 0.3);
        background-color: #101010;
        width: 100vw;
        font-size: 18px;

        .track {
          display: inline-block;
          white-space: nowrap;
          animation: scroll 35s linear infinite;
        }

        span {
          display: inline-block;
          padding: 0 1rem;
          text-transform: uppercase;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.2);
            text-shadow: 0 1px 16px $darkblue;
          }
        }
      }
    }
  }
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}