@use "../../tools/variables" as *;

#about {
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
  padding-top: 100px;
  overflow-x: hidden;
  font-weight: bold;

  h2 {
    text-align: left;
  }

  .container-about {
    font-family: $font-family-montserrat;
    z-index: 3;
    position: relative;
    width: 80vw;
    margin: 100px auto;

    #about-presentation {
      font-size: 22px;
      margin-bottom: 80px;
      font-family: "Bebas Neue", sans-serif;
      letter-spacing: 1.4px;

      b {
        color: $darkblue;
      }
    }

    #about-cards {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      margin: 0 auto 80px;
      gap: 32px;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 350px;
        border: 1px solid $cardblue;
        // box-shadow: 0 5px 20px 1px rgba(72, 65, 255, 0.2);
        border-radius: 16px;
        padding: 16px 32px 32px 32px;
        text-align: center;
        background-color: #101010;

        h3 {
          font-size: 16px;

        }

        p {
          text-align: center;
          font-size: 14px;
          font-weight: 600;
        }
      }


    }

    p {
      text-align: left;
    }

  }
}

/* ----- MEDIA QUERY ----- */

@include md {
  #about {
    .container-about {
      #about-cards {

      }
    }
  }
}

@include lg {
  #about {
    .container-about {
      width: 80vw;
    }
  }
}

.infinite-container {
  display: flex;
  flex-direction: column;
  gap: 48px;


  .infinite-title {
    text-align: left;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .infinite-text {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding: 48px 0;
    box-shadow: 0 0 8px 1px rgba(72, 65, 255, 0.3);
    // border: 1px solid rgba(72, 65, 255, 0.2);
    background-color: #101010;
    width: 100vw;
    margin-left: -10vw;
    font-size: 18px;

    .track {
      display: inline-block;
      white-space: nowrap;
      animation: scroll 35s linear infinite;
    }

    span {
      display: inline-block;
      padding: 0 1rem;
      text-transform: uppercase;
    }
  }

}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}