@use "../../tools/variables" as *;

#home {
  min-height: 100vh;
  position: relative;

  .content {
    z-index: 2;
  }

  /* ----- BLOB ----- */
  .blob {
    position: relative;
    margin: 120px auto 50px auto;
    z-index: 3;
    background: $darkblue;
    width: 250px;
    height: 250px;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    overflow: hidden;
    animation: morph 8s linear infinite, blob-appear 2s ease-in-out 5s;
    visibility: hidden;
    box-shadow: 0 0 60px 2px rgba(68, 120, 255, 0.5);

    &:hover {
      animation: morph-hover 8s linear infinite, blob-appear 0s ease-in-out 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  /* ----- REVEAL TEXT ----- */
  .reveal-text {
    position: relative;
    animation: clip-text 2s cubic-bezier(0, 0, 0.2, 1) 5s;
    height: auto;
    display: block;
    width: 80%;
    margin: auto;
    z-index: 2;

    &::after {
      content: "";
      position: absolute;
      z-index: 20;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      transform: scaleX(0);
      transform-origin: 0 50%;
      pointer-events: none;
      animation: text-revealer 2s cubic-bezier(0, 0, 0.2, 1) 5s;
    }

    h1 {
      text-align: justify;
      position: relative;
      margin-bottom: 40px;

      strong {
        font-size: 48px;
      }

      b {
        color: $darkblue;
      }
    }

    #home-contact {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      justify-content: center;

      a {
        margin: 0 12px 24px 12px;
        display: block;
        flex-direction: column;

        svg {
          border: 1px solid $darkblue;
          padding: 10px;
          width: 32px;
          height: 32px;
          border-radius: 6px;
          fill: $darkblue;

          &:hover {
            background-color: $darkblue;
            box-shadow: 0 0 32px 1px $darkblue;
            fill: white;
          }
        }
      }
    }
  }

  /* ----- TEXT DARK GREY IN BACKGROUND ----- */
  .text-background {
    z-index: 1;

    p {
      color: #1e1e1e;
      font-weight: bold;
      font-size: 96px;
    }
  }

  #text-background-react {
    position: absolute;
    bottom: 40vh;
    left: 0;
  }

  #text-background-node {
    position: absolute;
    bottom: 20vh;
    right: 1vw;
  }

}

/* ----- MEDIA QUERY ----- */
@include sm {
  #home {
    .blob {
      width: 350px;
      height: 350px;
    }

    /* ----- REVEAL TEXT ----- */
    .reveal-text {
      width: 60%;

      h1 {
        font-size: 32px;
      }
    }

    /* ----- TEXT DARK GREY IN BACKGROUND ----- */
    .text-background p {
      font-size: 120px;
    }

    #text-background-react {
      bottom: 50vh;
    }

  }
}

@include md {
  #home {
    /* ----- REVEAL TEXT ----- */
    .reveal-text {
      width: 50%;
    }

    /* ----- TEXT DARK GREY IN BACKGROUND ----- */
    .text-background p {
      font-size: 152px;
    }
  }
}

@include lg {
  #home {
    .content {
      max-height: 100vh;
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .blob {
      margin: auto;
    }

    /* ----- REVEAL TEXT ----- */
    .reveal-text {
      width: 50%;

      h1 {
        font-size: 40px;
      }

      #home-contact {
        justify-content: flex-start;

        a {
          margin: 24px 24px 0 0;

          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    /* ----- TEXT DARK GREY IN BACKGROUND ----- */
    .text-background p {
      font-size: 196px;
    }

    #text-background-react {
      bottom: 40vh;
    }

    #text-background-node {
      bottom: 10vh;
    }
  }
}

@include xl {
  #home {
    /* ----- REVEAL TEXT ----- */
    .reveal-text {
      h1 {
        font-size: 48px;

        strong {
          font-size: 72px;
        }
      }
    }

    #text-background-react {
      top: -100px !important;
      bottom: unset !important;
    }

    #text-background-node {
      bottom: -160px !important;
    }
  }
}
