@use "../../tools/variables" as *;

#home {
  min-height: 100vh;
  position: relative;

  .content {
    z-index: 2;
  }

  /* ----- BLOB ----- */
  .blob {
    position: relative;
    margin: 120px auto 50px auto;
    z-index: 3;
    background: $darkblue;
    width: 250px;
    height: 250px;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    overflow: hidden;
    animation: morph 3s linear infinite, blob-appear 2s ease-in-out 1;
    visibility: hidden;

    &:hover {
      animation: morph-hover 4s linear infinite, blob-appear 0s ease-in-out 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  /* ----- REVEAL TEXT ----- */
  .reveal-text {
    position: relative;
    animation: clip-text 2s cubic-bezier(0, 0, 0.2, 1) 1;
    height: auto;
    display: block;
    width: 80%;
    margin: auto;
    z-index: 2;

    &::after {
      content: "";
      position: absolute;
      z-index: 20;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      transform: scaleX(0);
      transform-origin: 0 50%;
      pointer-events: none;
      animation: text-revealer 2s cubic-bezier(0, 0, 0.2, 1) 1;
    }

    h1 {
      text-align: justify;
      position: relative;

      strong {
        font-size: 50px;
      }

      b {
        color: $darkblue;
      }
    }

    #home-contact {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      justify-content: center;

      a {
        margin: 25px 12px;
        display: block;

        svg {
          border: 1px solid $darkblue;
          padding: 10px;
          width: 60px;
          height: 60px;
          border-radius: 6px;
          fill: $darkblue;

          &:hover {
            background-color: rgb(68, 121, 255);
            fill: white;
          }
        }
      }
    }
  }

  /* ----- TEXT DARK GREY IN BACKGROUND ----- */
  .text-background {
    z-index: 1;

    p {
      color: #1e1e1e;
      font-weight: bold;
      font-size: 100px;
    }
  }

  #text-background-react {
    position: absolute;
    bottom: 40vh;
    left: 0;
  }

  #text-background-symfony {
    position: absolute;
    bottom: 20vh;
    right: 0;
  }

  // svg {
  //     display: none;
  // }
}

/* ----- MEDIA QUERY ----- */
@include sm {
  #home {
    .blob {
      width: 350px;
      height: 350px;
    }

    /* ----- REVEAL TEXT ----- */
    .reveal-text {
      width: 60%;

      h1 {
        font-size: 36px;
      }
    }

    /* ----- TEXT DARK GREY IN BACKGROUND ----- */
    .text-background p {
      font-size: 125px;
    }

    #text-background-react {
      bottom: 50vh;
    }

    #text-background-symfony {
      bottom: 20vh;
    }
  }
}

@include md {
  #home {
    /* ----- REVEAL TEXT ----- */
    .reveal-text {
      width: 50%;
    }

    /* ----- TEXT DARK GREY IN BACKGROUND ----- */
    .text-background p {
      font-size: 150px;
    }
  }
}

@include lg {
  #home {
    .content {
      max-height: 100vh;
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .blob {
      margin: auto;
    }

    /* ----- REVEAL TEXT ----- */
    .reveal-text {
      width: 50%;

      h1 {
        font-size: 40px;
      }

      #home-contact {
        justify-content: flex-start;

        a {
          margin: 25px 15px 0 0;

        }
      }
    }

    /* ----- TEXT DARK GREY IN BACKGROUND ----- */
    .text-background p {
      font-size: 200px;
    }

    #text-background-react {
      bottom: 40vh;
    }

    #text-background-symfony {
      bottom: 10vh;
    }

    // svg {
    //     display: block;
    //     position: absolute;
    //     z-index: 5;
    //     bottom: 0;
    //     left: 50%;
    //     transform: translateX(-50%);
    // }
  }
}

@include xl {
  #home {
    /* ----- REVEAL TEXT ----- */
    .reveal-text {
      h1 {
        font-size: 50px;

        strong {
          font-size: 75px;
        }
      }
    }

    #text-background-react {
      top: 10vh;
      bottom: unset;
    }

    #text-background-symfony {
      bottom: 1vh;
    }
  }
}
