@use "../../tools/variables" as *;

#projects {
  .carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 440px;
    margin: auto;

    @include lg {
      min-height: 80vh;
    }

    .card-wrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      .card-wrapper-title {
        opacity: 0;
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        text-shadow: 0 8px 8px rgba(255, 255, 255, 0.56);
        transition: all 0.8s ease-in-out;
        font-size: 40px;
        text-align: center;
        @include xl {
          font-size: 80px;
        }

        h3 {
          text-align: center;
        }
      }

      &[data-center="true"] {
        z-index: 10;

        .card-wrapper-title {
          opacity: 1;
          transform: translateY(-150%);
          @include md {
            transform: translateY(-170%);
          }
          @include lg {
            transform: translateY(-190%);
          }
          @include xl {
            opacity: 0;
            transform: translateY(-50%);
          }
        }

        .card {
          .overlay {
            background: rgba(0, 0, 0, 0.8);
            @include xl {
              background: transparent;
            }
          }

          .meta {
            opacity: 1;
            transform: translateY(-10px);
            @include xl {
              opacity: 0;
            }
          }
        }

        &:hover, &:focus, &:active {
          .card-wrapper-title {
            opacity: 1;
            transform: translateY(-125%);
          }

          .card {
            .overlay {
              background: rgba(0, 0, 0, 0.8) !important;
            }

            .meta {
              @include xl {
                transform: translateY(0);
                opacity: 1;
              }
            }
          }
        }

        .reflection {
          position: absolute;
          top: calc(100% - 20px);
          left: 0;
          width: calc(100% - 60px);
          height: 120px;
          margin-left: 30px;
          background-size: cover;
          background-position: 50% 0;
          transform: perspective(200px) rotateX(45deg) scaleY(1);
          transform-origin: top center;
          z-index: 1;

          opacity: 0.4;
          filter: blur(16px);
          border-radius: 16px;

          mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
          -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);

          animation: reflectionScroll 10s linear infinite;
        }

        @keyframes reflectionScroll {
          0% {
            background-position: 50% 0%;
          }
          25% {
            background-position: 55% 25%;
          }
          50% {
            background-position: 50% 50%;
          }
          75% {
            background-position: 45% 75%;
          }
          100% {
            background-position: 50% 0%;
          }
        }
      }

      .card {
        position: relative;
        width: 320px;
        height: 240px;
        border-radius: 14px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);

        z-index: 2;
        background-color: transparent;

        @include sm {
          width: 420px;
          height: 260px
        }
        @include md {
          width: 520px;
          height: 300px
        }
        @include lg {
          width: 620px;
          height: 360px;
        }

        .overlay {
          position: absolute;
          inset: 0;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0) 70%);
          background: rgba(0, 0, 0, 0.35);
          transition: background 0.35s ease;
        }

        .meta {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          left: 0;
          bottom: 0;
          gap: 4px;
          width: 100%;
          height: 240px;
          opacity: 0;
          transition: opacity 0.3s ease, transform 0.5s ease;
          transform: translateY(16px);
          color: $white;
          @include sm {
            height: 260px
          }
          @include md {
            height: 300px
          }
          @include lg {
            gap: 16px;
            height: 360px;
          }

          p {
            margin-top: 8px;
            font-size: 14px;
            padding: 0 20px;
            font-family: $font-family-poppins;
            text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
            @include lg {
              font-size: 18px;
              font-weight: 600;
              padding: 0 15%;
            }
          }


          a {
            position: absolute;
            bottom: 20px;
            text-decoration: none;
            width: 80px;
            border: 1px solid $darkblue;
            font-size: 16px;
            letter-spacing: 1.3px;
            color: white;
            padding: 12px 20px;
            display: flex;
            gap: 4px;
            border-radius: 32px;
            justify-content: center;
            align-items: center;
            transition: all 0.2s ease-in-out;
            font-weight: 600;
            text-shadow: 0 4px 16px $darkblue;
            box-shadow: 0 0 10px 1px #4478FF80;
            @include lg {
              bottom: 40px;
              font-size: 22px;
              width: 120px;
            }

            &:hover {
              background-color: rgba(255, 255, 255, 0.1);
              text-shadow: 0 0 32px $darkblue;

              svg {
                transform: translateX(4px);
              }
            }

            svg {
              color: white;
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
    }


    .carousel-mobile-nav {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 4px;
      margin-top: 120px;
      @include sm {
        margin-top: 0;

      }

      .nav-button {
        border-radius: 50%;
        border: none;
        background-color: $darkblue;
        cursor: pointer;
        width: 40px;
        height: 40px;
        transition: 0.2s;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px 1px rgba(68, 120, 255, 0.3);

        svg {
          color: white;
        }

        &:hover {
          opacity: 1;
          transform: scale(1.1);
        }
      }
    }


  }

}
