@use "../../tools/variables" as *;

#projects {
  min-height: 100vh;
  height: auto;
  position: relative;
  font-size: 120px;
  overflow-x: hidden;

  @include lg {
    padding-bottom: 70px;
  }


  h2 {
    padding-top: 50px;
    margin-bottom: 70px;
    text-align: right;
    margin-right: 16px;

    @include lg {
      margin-bottom: 50px;
    }

  }
}


