@use "../../tools/variables" as *;

#projects {
  .carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 300px;

    margin: auto;
    @include lg {
      min-height: 80vh;
    }

    .card-wrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);


      &[data-center="true"] {
        z-index: 10;

        .card {
          .overlay {
            background: rgba(0, 0, 0, 0.8);
            @include xl {
              background: transparent;
            }
          }

          .meta {
            opacity: 1;
            transform: translateY(-10px);
            @include xl {
              opacity: 0;
            }
          }

        }

        &:hover, &:focus, &:active {
          .card {
            .overlay {
              background: rgba(0, 0, 0, 0.8) !important;
            }

            .meta {
              @include xl {
                transform: translateY(0);
                opacity: 1;
              }
            }
          }
        }

        .reflection {
          position: absolute;
          top: calc(100% - 20px);
          left: 0;
          width: calc(100% - 60px);
          height: 120px;
          margin-left: 30px;
          background-size: cover;
          background-position: 50% 0;
          transform: perspective(200px) rotateX(45deg) scaleY(1);
          transform-origin: top center;
          z-index: 1;

          opacity: 0.4;
          filter: blur(16px);
          border-radius: 16px;

          mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
          -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);

          animation: reflectionScroll 10s linear infinite;
        }

        @keyframes reflectionScroll {
          0% {
            background-position: 50% 0%;
          }
          25% {
            background-position: 55% 25%;
          }
          50% {
            background-position: 50% 50%;
          }
          75% {
            background-position: 45% 75%;
          }
          100% {
            background-position: 50% 0%;
          }
        }
      }

      .card {
        position: relative;
        width: 320px;
        height: 240px;
        border-radius: 14px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);

        z-index: 2;
        background-color: transparent;

        @include sm {
          width: 420px;
          height: 260px
        }
        @include lg {
          width: 620px;
          height: 360px;
        }

        .overlay {
          position: absolute;
          inset: 0;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0) 70%);
          background: rgba(0, 0, 0, 0.35);
          transition: background 0.35s ease;
        }

        .meta {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          left: 0;
          bottom: 0;
          gap: 4px;
          width: 100%;
          height: 240px;
          opacity: 0;
          transition: opacity 0.3s ease, transform 0.3s ease;
          transform: translateY(10px);
          color: $white;
          @include sm {
            height: 260px
          }
          @include lg {
            gap: 16px;
            height: 360px;
          }

          h3 {
            margin: 0;
            font-size: 32px;
            text-shadow: 0 4px 18px rgba(0, 0, 0, 0.7);
            @include lg {
              font-size: 40px;
              font-weight: 600;
            }
          }

          p {
            margin-top: 8px;
            font-size: 14px;
            padding: 0 12px;
            font-family: $font-family-montserrat;
            text-shadow: 0 0 8px rgba(0, 0, 0, 0.62);
            @include lg {
              font-size: 18px;
              font-weight: 600;
              padding: 0 40px;
            }

            &:nth-child(2) {

            }

            &:nth-child(3) {


            }
          }


          a {
            background-color: $cardblue;
            text-decoration: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.4s ease-in-out;

            &:hover {
              background-color: $darkblue;

              svg {
                transform: scale(1.2);
              }
            }

            svg {
              color: white;
              transition: all 0.2s ease-in-out;

            }
          }
        }
      }
    }
  }

}
